<suite name="EntireSuite">
	<test name="NormalBundles">
		<packages>
			<package name="org.treetank.cache" />
			<package name="org.treetank.io.bytepipe" />
			<package name="org.treetank.page" />
			<package name="org.treetank.revisioning" />
		</packages>
	</test>
	<suite-files>
		<suite-file path="./FileZipper.xml" />
		<suite-file path="./FileEncryptor.xml" />
		<suite-file path="./BerkeleyZipper.xml" />
        <suite-file path="./BerkeleyEncryptor.xml" />
        <suite-file path="./JCloudsZipper.xml" />
        <suite-file path="./JCloudsEncryptor.xml" />
	</suite-files>
</suite>